<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <!-- <h2
        class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        We invest in the world’s potential</h2>
      <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Here at
        Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive
        economic growth.</p> -->
        <div class="flex flex-col lg:flex-row items-center lg:items-start gap-6 p-4">
            <!-- Image Section -->
            <!-- <div class="w-full lg:w-1/2">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ZZVZ0D2RqKM?si=3ltYs5TluouooqCU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div> -->

            <!-- Text Section -->
            <div class="w-full md:w-4/6 md:text-center lg:text-left">
                <h2 class="text-2xl text-orange-500 lg:text-3xl font-bold">About JUNIOR LEADERS SCHOOL SYSTEM</h2>
                <h4 class="text-xl">
                    ME MY SCHOOL MY EDUCATED PAKISTAN EDUCATE GIRLS TO EDUCATE GENRATIONS
                </h4>
                <p class="text-gray-500 mt-2">
                    Junior Leaders School System has been established as a welfare institution embedded with the
                    Philanthropic passion
                    to educate girls from poor families. Pakistan with present population of about 180 million has over
                    52% female
                    population.

                    The high rate of population growth, lack of educational facilities and socio economic problems
                    confronted by a vast
                    segment of society is depriving continuous education to the children. The uneducated and poor
                    parents with extremely
                    low per capita income have simultaneously been gripped by self-sponsored social and family problems
                    by ignoring
                    education of their children.Whereas,those parents who genuinely want to educate their children and
                    are below poverty
                    line cannot provide better education.Moreover,there is a social dilemma in our society and the
                    domestic culture that
                    a very large majority of parents give priority to their sons and ignore their daughter+//3//f/9-s
                    education.This is
                    a big social dilemma for seeking education because they have limited resources.

                    The poor parents can behelped through their daughter+//3//f/9-s education and grooming to progress
                    and be guided
                    towards a bright future. Education is the best window of opportunity and a ladder out of poverty,
                    leading the entire
                    family towards prosperity. Therefore, to support the national cause of improving literacy, this
                    school system has
                    planned +//3//f/9-FREE+//3//f/9 quality modern education forgirlshailing from poor/low
                    incomefamilies. This in fact,
                    is a Theme, aThought and a Theory, coupled witha mission and pragmatic approach to educate and groom
                    girls.
                </p>
            </div>
            <div class="w-2/6 md:w-2/6 sm:w-full flex flex-col justify-start">
                <img src="assets/about-us.png" alt="about-us" srcset="">
                <img class="mt-5" src="assets/about-us-2.png" alt="about-us" srcset="">
            </div>
        </div>
    </div>
</section>