<div id="default-carousel" class="relative w-full" data-carousel="slide">
  <!-- Carousel wrapper -->
  <div class="relative h-[32rem] overflow-hidden">
    <!-- Item 1 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img src="assets/slider-1.jpg"
        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
    </div>
    <!-- Item 2 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img src="assets/slider-2.jpg"
        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
    </div>
    <!-- Item 3 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img src="assets/slider-3.jpg"
        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
    </div>
    <!-- Item 4 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img src="assets/slider-4.jpg"
        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
    </div>
    <!-- Item 5 -->
    <div class="hidden duration-700 ease-in-out" data-carousel-item>
      <img src="assets/slider-5.jpg"
        class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
    </div>
  </div>
  <!-- Slider indicators -->
  <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
    <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
      data-carousel-slide-to="0"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
      data-carousel-slide-to="1"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
      data-carousel-slide-to="2"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4"
      data-carousel-slide-to="3"></button>
    <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5"
      data-carousel-slide-to="4"></button>
  </div>
  <!-- Slider controls -->
  <button type="button"
    class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-prev>
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
      <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 1 1 5l4 4" />
      </svg>
      <span class="sr-only">Previous</span>
    </span>
  </button>
  <button type="button"
    class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
    data-carousel-next>
    <span
      class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
      <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4" />
      </svg>
      <span class="sr-only">Next</span>
    </span>
  </button>
</div>

<!-- Abbout us -->
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
    <!-- <h2
      class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
      We invest in the world’s potential</h2>
    <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-400">Here at
      Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive
      economic growth.</p> -->
    <div class="flex flex-col lg:flex-row items-center lg:items-start gap-6 p-4">
      <!-- Image Section -->
      <div class="w-full lg:w-1/2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ZZVZ0D2RqKM?si=3ltYs5TluouooqCU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>

      <!-- Text Section -->
      <div class="w-full lg:w-1/2 md:text-center lg:text-left">
        <h2 class="text-2xl text-orange-500 lg:text-3xl font-bold">About Us</h2>
        <h4 class="text-xl">
          Innovative Way To Learn
        </h4>
        <p class="text-gray-500 mt-2">
          Junior Leaders School System has been established as a welfare institution embedded with the Philanthropic passion to educate girls from poor families. Pakistan with present population of about 180 million has over 52% female population.
The high rate of population growth, lack of educational facilities and socio economic problems confronted by a vast segment of society is depriving continuous education to the children
        </p>
        <a routerLink="/about"
          class="inline-flex items-center my-10 px-6 py-2 text-sm font-medium text-center text-white bg-orange-500 rounded-lg hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Read more
          <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- Teaching Courses -->
<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
    <h2
      class="mb-8 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
      Teaching Courses</h2>

    <div class="grid grid-cols-1 justify-items-center gap-6 md:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto px-4">
      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <img class="rounded-t-lg h-80 w-80" src="assets/courses/JLSF-Pre.jpg" alt="" />
        </a>
        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">JLSF-Junior School</h5>
          </a>
          <a href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange-500 rounded-lg hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </a>
        </div>
      </div>
      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <img class="rounded-t-lg h-80 w-80" src="assets/courses/JLSF-middlre.jpg" alt="" />
        </a>
        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">JLSF-Middle School</h5>
          </a>
          <a href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange-500 rounded-lg hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </a>
        </div>
      </div>
      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <img class="rounded-t-lg h-80 w-80" src="assets/courses/JLSF-Creative-Hub.jpg" alt="" />
        </a>
        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">JLSF-High School</h5>
          </a>
          <a href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange-500 rounded-lg hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </a>
        </div>
      </div>
      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <img class="rounded-t-lg h-80 w-80" src="assets/courses/JLSF-Junior-School.jpg" alt="" />
        </a>
        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">JLSF-Sports Club</h5>
          </a>
          <a href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange-500 rounded-lg hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </a>
        </div>
      </div>
      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <img class="rounded-t-lg h-80 w-80" src="assets/courses/JSLF-creative.jpeg" alt="" />
        </a>
        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">JLSF-Creative Hub</h5>
          </a>
          <a href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange-500 rounded-lg hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </a>
        </div>
      </div>
      <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <a href="#">
          <img class="rounded-t-lg h-80 w-80" src="assets/courses/JSLF-computer-lab.jpeg" alt="" />
        </a>
        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">JLSF-Computer Lab</h5>
          </a>
          <a href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange-500 rounded-lg hover:bg-orange-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
            Read more
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </a>
        </div>
      </div>
    </div>


  </div>
</section>

<!-- Testimonials -->
<section class="py-12 bg-gray-100">
  <!-- Header -->
  <div class="text-center mb-8">
    <h2 class="text-3xl font-bold">Testimonials</h2>
    <p class="text-gray-600">What Our Students Say</p>
  </div>

  <!-- Centered Carousel -->
  <div id="default-carousel-11" class="relative w-full max-w-xl mx-auto" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-60 overflow-hidden rounded-lg md:h-80 mx-14">
      <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div class="bg-white p-6 rounded-lg shadow-md">
          <blockquote class="text-xl italic font-semibold text-gray-900 dark:text-white">
            <svg class="w-8 h-8 text-gray-400 dark:text-gray-600 mb-4" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
              <path
                d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z" />
            </svg>
            <p>"Flowbite is just awesome. It contains tons of predesigned components and pages starting from
              login screen to complex dashboard. Perfect choice for your next SaaS application."</p>
          </blockquote>
          <p class="mt-4 text-right font-bold text-gray-800">- John Doe</p>
        </div>
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div class="bg-white p-6 rounded-lg shadow-md">
          <blockquote class="text-xl italic font-semibold text-gray-900 dark:text-white">
            <svg class="w-8 h-8 text-gray-400 dark:text-gray-600 mb-4" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
              <path
                d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z" />
            </svg>
            <p>"Flowbite is just awesome. It contains tons of predesigned components and pages starting from
              login screen to complex dashboard. Perfect choice for your next SaaS application."</p>
          </blockquote>
          <p class="mt-4 text-right font-bold text-gray-800">- Jane Smith</p>
        </div>
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <div class="bg-white p-6 rounded-lg shadow-md">
          <blockquote class="text-xl italic font-semibold text-gray-900 dark:text-white">
            <svg class="w-8 h-8 text-gray-400 dark:text-gray-600 mb-4" aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
              <path
                d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z" />
            </svg>
            <p>"Flowbite is just awesome. It contains tons of predesigned components and pages starting from
              login screen to complex dashboard. Perfect choice for your next SaaS application."</p>
          </blockquote>
          <p class="mt-4 text-right font-bold text-gray-800">- Alex Brown</p>
        </div>
      </div>
    </div>

    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
      <button type="button" class="w-3 h-3 bg-orange-300 rounded-full aria-[current=true]:bg-orange-600" aria-current="true" aria-label="Slide 1"
        data-carousel-slide-to="0"></button>
      <button type="button" class="w-3 h-3 rounded-full aria-[current=true]:bg-orange-600" aria-current="false" aria-label="Slide 2"
        data-carousel-slide-to="1"></button>
      <button type="button" class="w-3 h-3 rounded-full aria-[current=true]:bg-orange-600" aria-current="false" aria-label="Slide 3"
        data-carousel-slide-to="2"></button>
    </div>    

    <!-- Slider controls -->
    <button type="button"
      class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-prev>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50">
        <svg class="w-4 h-4 text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 1 1 5l4 4" />
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button"
      class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
      data-carousel-next>
      <span class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 group-hover:bg-white/50">
        <svg class="w-4 h-4 text-gray-800 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="none" viewBox="0 0 6 10">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 9 4-4-4-4" />
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
  </div>
</section>


<!-- Latest Activities -->
<section class="py-12 bg-gray-100">
  <!-- Header -->
  <div class="text-center mb-8">
    <h2 class="text-3xl font-bold">Latest Activities</h2>
  </div>

  <!-- Blog Posts Grid -->
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto px-4">
    <!-- Blog Post 1 -->
    <div class="relative group">
      <img src="assets/activities/activity-1.jpg" alt="Blog Post 1" class="w-full h-64 object-cover rounded-lg shadow-lg">
      <!-- <div
        class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center transition duration-300 rounded-lg">
        <h3 class="text-white text-xl font-bold mb-2">Post Title 1</h3>
        <p class="text-gray-300 text-sm">A short description of the blog post.</p>
      </div> -->
    </div>

    <!-- Blog Post 2 -->
    <div class="relative group">
      <img src="assets/activities/activity-2.jpg" alt="Blog Post 2" class="w-full h-64 object-cover rounded-lg shadow-lg">
      <!-- <div
        class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center transition duration-300 rounded-lg">
        <h3 class="text-white text-xl font-bold mb-2">Post Title 2</h3>
        <p class="text-gray-300 text-sm">A short description of the blog post.</p>
      </div> -->
    </div>

    <!-- Blog Post 3 -->
    <div class="relative group">
      <img src="assets/activities/activity-3.jpg" alt="Blog Post 3" class="w-full h-64 object-cover rounded-lg shadow-lg">
      <!-- <div
        class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center transition duration-300 rounded-lg">
        <h3 class="text-white text-xl font-bold mb-2">Post Title 3</h3>
        <p class="text-gray-300 text-sm">A short description of the blog post.</p>
      </div> -->
    </div>
    <!-- Blog Post 4 -->
    <div class="relative group">
      <img src="assets/activities/activity-4.jpg" alt="Blog Post 1" class="w-full h-64 object-cover rounded-lg shadow-lg">
      <!-- <div
        class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center transition duration-300 rounded-lg">
        <h3 class="text-white text-xl font-bold mb-2">Post Title 4</h3>
        <p class="text-gray-300 text-sm">A short description of the blog post.</p>
      </div> -->
    </div>

    <!-- Blog Post 5 -->
    <div class="relative group">
      <img src="assets/activities/activity-5.jpg" alt="Blog Post 2" class="w-full h-64 object-cover rounded-lg shadow-lg">
      <!-- <div
        class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center transition duration-300 rounded-lg">
        <h3 class="text-white text-xl font-bold mb-2">Post Title 5</h3>
        <p class="text-gray-300 text-sm">A short description of the blog post.</p>
      </div> -->
    </div>

    <!-- Blog Post 6 -->
    <div class="relative group">
      <img src="assets/activities/activity-6.jpg" alt="Blog Post 3" class="w-full h-64 object-cover rounded-lg shadow-lg">
      <!-- <div
        class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-center items-center transition duration-300 rounded-lg">
        <h3 class="text-white text-xl font-bold mb-2">Post Title 6</h3>
        <p class="text-gray-300 text-sm">A short description of the blog post.</p>
      </div> -->
    </div>
  </div>
</section>